
@{
    ViewBag.Title = "Fragmanlar";
}

@section BreadCrumb{
    <div id="breadcrumb" class="container_12 clearfix">
    <div class="grid_12">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="trailers_page.html">Trailers</a>
            </li>
            <li class="last">
                Pirates Of The Caribbean 4
            </li>
        </ul>
    </div>
</div>
    }

<div id="container" class="container_12 video_page clearfix">
    <!-- content -->
    <div class="grid_12">
        <article class="node bottom_line">
            <h1 class="title">Pirates Of The Caribbean 4</h1>
            <div class="show_carousel">
                <a class="show button button_middle button_arrow" href="#">Hide thumbnails</a>
                <div id="carousel_control"></div>
                <div id="carousel_number">
                    <span id="number">1</span> of <span id="size">1</span> photos
                </div>
            </div>
            <div id="carousel" class="flexslider photo-thumbs">
                <ul class="slides">
                    <li class="first">
                        <img alt="Image1" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_01.jpg" />
                    </li>
                    <li>
                        <img alt="Image2" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_02.jpg" />
                    </li>
                    <li>
                        <img alt="Image3" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_03.jpg" />
                    </li>
                    <li>
                        <img alt="Image4" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_04.jpg" />
                    </li>
                    <li>
                        <img alt="Image5" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_05.jpg" />
                    </li>
                    <li>
                        <img alt="Image6" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_06.jpg" />
                    </li>
                    <li>
                        <img alt="Image7" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_07.jpg" />
                    </li>
                    <li>
                        <img alt="Image8" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_01.jpg" />
                    </li>
                    <li>
                        <img alt="Image9" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_02.jpg" />
                    </li>
                    <li>
                        <img alt="Image10" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_03.jpg" />
                    </li>
                    <li>
                        <img alt="Image11" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_04.jpg" />
                    </li>
                    <li class="last">
                        <img alt="Image12" width="121" height="80" class="wrap_me" src="images/content/portfolio_302_05.jpg" />
                    </li>
                </ul>
            </div>
        </article>
    </div>
    <div id="content" class="grid_8">
        <article class="node">
            <div class="content">
                <div id="slider" class="flexslider">
                    <div id="video_frame"></div>
                    <ul class="slides">
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage1" src="images/content/photo_big_01.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage2" src="images/content/photo_big_07.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage3" src="images/content/photo_big_06.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage4" src="images/content/photo_big_05.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage4" src="images/content/photo_big_04.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage6" src="images/content/photo_big_03.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage7" src="images/content/photo_big_02.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage1" src="images/content/photo_big_01.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage2" src="images/content/photo_big_07.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage3" src="images/content/photo_big_06.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage4" src="images/content/photo_big_05.jpg" />
                        </li>
                        <li data-link="http://www.youtube.com/watch?v=XBfcGLBJ2Uc">
                            <img class="wrap_me" alt="BigImage5" src="images/content/photo_big_04.jpg" />
                        </li>
                    </ul>
                </div>
                <section id="related_posts" class="related_gallery">
                    <h3 class="block_title">Related  Photo  Galleries</h3>
                    <div class="content clearfix">
                        <ul>
                            <li>
                                <div class="photo">
                                    <a href="#"><img src="images/content/related_1.jpg" class="wrap_me" alt="Photo" /></a>
                                </div>
                                <div class="details">
                                    <h4 class="title"><a href="#">Vestibulum Libero Nisl Porta</a></h4>
                                    <p>
                                        <span class="date"> <span>7 photos</span></span>
                                        <time datetime="2012-04-11">
                                            Apr 11, 2012
                                        </time>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="photo">
                                    <a href="#"><img src="images/content/related_2.jpg" class="wrap_me" alt="Photo" /></a>
                                </div>
                                <div class="details">
                                    <h4 class="title"><a href="#">Sed Ut Perspiciatis Unde</a></h4>
                                    <p>
                                        <span class="date"> <span>12 photos</span></span>
                                        <time datetime="2012-04-11">
                                            Apr 11, 2012
                                        </time>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <p>
                    There are no comments yet
                </p>
                <h2 class="title">Leave a Comment</h2>
                <div class="content">
                    <p>
                        Required fields are marked<span title="This field is required." class="form-required">*</span>
                    </p>
                    <form action="contact_form_send.php" method="post" id="contact_form">
                        <div class="form-item">
                            <label for="edit-submitted-name">Name<span title="This field is required." class="form-required">*</span></label>
                            <input type="text" class="form-text" value="" size="60" id="edit-submitted-name" name="submitted[name]" maxlength="128" required />
                        </div>
                        <div class="form-item">
                            <label for="edit-submitted-email">Email<span title="This field is required." class="form-required">*</span></label>
                            <input type="email" class="form-text" value="" size="60" id="edit-submitted-email" name="submitted[email]" maxlength="128" required />
                        </div>
                        <div class="form-item">
                            <label for="edit-submitted-subject">Website</label>
                            <input type="text" class="form-text" value="" size="60" id="edit-submitted-subject" name="submitted[subject]" maxlength="128" />
                        </div>
                        <div class="form-item">
                            <label for="edit-submitted-message">Comment</label>
                            <textarea class="form-textarea" id="edit-submitted-message" name="submitted[message]" rows="5" cols="60"></textarea>
                        </div>
                        <div id="edit-actions">
                            <button type="submit" class="button button_middle button_arrow">
                                Submit Comment
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </div>
    <!-- end content -->
    <!-- right sidebar -->
    <div id="sidebar" class="grid_4">
        <aside id="block_advertise_1" class="block advertise wrap_me">
            <div class="content">
                <p>
                    Advertise Here
                </p>
            </div>
        </aside>
        <aside id="block_facebook" class="block block_blue">
            <h3 class="block_title">Like Us On Facebook</h3>
            <div class="content">
                <div id="fb-root"></div>
                <script>
							( function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (d.getElementById(id))
										return;
									js = d.createElement(s);
									js.id = id;
									js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=199804666731637";
									fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-like" data-send="false" data-width="300" data-show-faces="true" data-font="arial"></div>
            </div>
        </aside>
        <aside id="block_photo_galleries" class="block">
            <h3 class="block_title">Photo Galleries<a href="#" class="button_black button_small button_arrow">View all</a></h3>
            <div class="content">
                <ul>
                    <li>
                        <article>
                            <div class="photo">
                                <a href="#"><img src="images/content/photo_gallereis_1.jpg" alt="Photo" class="wrap_me_white" /></a>
                            </div>
                            <div class="details">
                                <h4 class="title"><a href="#">House MD</a></h4>
                                <p>
                                    15 photos
                                    <br />
                                    Added: Oct 24, 2012
                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="photo">
                                <a href="#"><img src="images/content/photo_gallereis_2.jpg" alt="Photo" class="wrap_me_white" /></a>
                            </div>
                            <div class="details">
                                <h4 class="title"><a href="#">Burlesque</a></h4>
                                <p>
                                    7 photos
                                    <br />
                                    Added: Oct 24, 2012
                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="photo">
                                <a href="#"><img src="images/content/photo_gallereis_3.jpg" alt="Photo" class="wrap_me_white" /></a>
                            </div>
                            <div class="details">
                                <h4 class="title"><a href="#">Cowboys &amp; Aliens</a></h4>
                                <p>
                                    11 photos
                                    <br />
                                    Added: Oct 24, 2012
                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="photo">
                                <a href="#"><img src="images/content/photo_gallereis_4.jpg" alt="Photo" class="wrap_me_white" /></a>
                            </div>
                            <div class="details">
                                <h4 class="title"><a href="#">Pirates Of The Caribbean 4</a></h4>
                                <p>
                                    18 photos
                                    <br />
                                    Added: Oct 24, 2012
                                </p>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <!-- end right sidebar -->
</div>
