
@{
    ViewBag.Title = "Hata404";
}

@section BreadCrumb{
    <div id="breadcrumb" class="container_12 clearfix"></div>
    }

<div id="container" class="container_12 clearfix">
    <!-- content -->
    <div id="content" class="grid_12">
        <article class="node">
            <div class="content">
                <div class="grid_6 alpha">
                    <img src="/Content/images/bg_404.png" alt="Error 404 - Page Not Found" />
                </div>
                <div class="grid_6 omega">
                    <div id="form_search_404">
                        <p>
                            Sorry, it appears the page you were looking for doesn't exist anymore or might have been moved.
                        </p>
                        <form method="post" action="#">
                            <p>
                                Please use our search form below:
                            </p>
                            <div class="content">
                                <p class="form_wrap">
                                    <input type="text" class="form-text" maxlength="128" size="15" placeholder="Search movies, actors, critics" />
                                    <input type="submit" class="form-submit" value="" />
                                </p>
                                <p class="view_sitemap">
                                    or <a href="#" class="button button_middle button_arrow">View Sitemap</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <!-- end content -->
</div>

